body, html{
    background-color: black;
}
h1{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 60px;
position: absolute;
display:flex;
color:white;
}
.socialcolumn{
    justify-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    display:flex;
    float:left;
    margin:460px;
    column-gap: 10px;
}
.fa {
    width:80px;
    height:80px;
    padding: 21px;
    text-decoration: none;
    border-radius: 50%;
    transition: all .2s ease-in-out; 
  }
.fa:hover {
    transform: scale(1.1);
  }

.logo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    top:40px;
    width: 400px;
    position: absolute;
    display:flex;
    color:white;
    transition: all .3s ease-in-out; 
    }

.logo:hover{
    transform: scale(1.02);
}
.banner{
    overflow-x: hidden;
    height:flex;
    display: flex;
    width: 100%;
    left:0;
    top:0;
    position: absolute;
    justify-content: left;
    justify-items: left;
    text-align: left;
    background-size: cover;
    background-color: white;
}
.feature{
    overflow-x: hidden;
    background-size: cover;
    position:absolute;
    left:0;
    height:auto;
    width:100%;
    justify-content: center;
    justify-items: center;
    text-align: center;
    display: flex;
}
.buy1get1free{
  color:white !important;
  position: relative;
  top:540px;
  justify-content: center;
  justify-items: center;
  text-align: center;
  display: flex;
  height:auto;
}
.buy1text{
  font-family: 'Lexend Peta', sans-serif;
}

.btn{
  background-color: #ea22b1 !important;
  border-color: #ea22b1 !important;
  transition: .3s ease-in-out !important; 
}

.btn:hover
{
  transform: scale(1.2);
}
.store{
    overflow-x: hidden;
    position:absolute;
    /* top:103px; */
    left:0;
    right:cover;
    height:100%;
    width: 100%;
    /* top:600px; */
    justify-content: center;
    justify-items: center;
    text-align: center;
    display: flex;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-youtube {
    background: #55ACEE;
    color: white;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  .fa-instagram {
    background: #ea22b1;
    color: white;
  }
  .fa-soundcloud {
    background: #ff5500;
    color: white;
  }
  .fa-rss {
    background: #ff6600;
    color: white;
  }
  .fa-spotify {
    background: #2abe51;
    color: white;
  }

.logo2
{
    position: relative;
    width:200px;
    left:50%;
    align-items: center;
    margin-left: -103px !important;
    justify-content: center;
}